.footer-container {
    padding: 32px 0;
    border-top: 1px solid #F79848;
    max-width: 1240px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-container__logo{
    height: 20px;
}

.footer-container__logo img {
    height: 100%;
}

.socials-icon{
    display: flex;
    align-items: center;
}

.socials-icon a {
    text-decoration: none;
    color: #fff;
    margin: 0 10px;
}

.socials-icon a:last-child {
    margin-right: 0;
}


@media screen and (max-width: 1280px) {
    .footer-container {
        padding-left: 20px;
        padding-right: 20px;
    }
}