.btn {
    background: linear-gradient(45deg, #12121a, #101018);
    color: #F79848;
    padding: 12px 32px;
    outline: 0;
    border: 0;
    width: 195px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    font-size: 18px;
    font-family: 'Aptos', sans-serif;
    border: 1px solid #1c1f2e;
    font-weight: 400;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    -o-transition: .2s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn:hover{
    filter: brightness(1.1);
    box-shadow: 0 0 32px 4px rgba(242, 195, 53, 0.122);
    cursor: pointer;
}

    